name: CI with Unit Tests
on:
  push:
    branches:
      - main
      - feature/git-actions-for-unit-tests
  pull_request:
    branches:
      - main
jobs:
    unit-tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install system dependencies
              run: |
                  sudo apt-get update
                  sudo apt-get install -y cmake build-essential pkg-config libsdl2-dev libgtest-dev

            - name: Build Google Test
              run: |
                  cd /usr/src/gtest
                  sudo cmake CMakeLists.txt
                  sudo make
                  sudo cp lib/*.a /usr/lib

            - name: Create build directory
              run: mkdir build

            - name: Configure with CMake
              run: |
                  cd build
                  cmake -DBUILD_TESTS=ON ..

            - name: Build project
              run: |
                  cd build
                  make

            - name: Run unit tests with ctest
              run: |
                  cd build
                  ctest --output-on-failure --verbose